// Font sizes
$fs-base: 18px;
$fs-1: 1.25rem;
$fs-2: 1.5rem;
$fs-3: 1.75rem;
$fs-4: 2rem;

// Colors
$grey: #4b4242;
$green: #1dd1a1;
$red: #ff6b6b;
$white: #ffffff;

$color-bg: #E8E8FF;
$color-primary: rgb(116, 123, 255);
$color-primary-light: rgba(116, 123, 255, 0.8);
$color-secondary: #ff6b6b;
$color-tertiary: #ff9f43;
$color-quaternary: #1dd1a1;
$color-quinary: #5f27cd;

